<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/formselection"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;">Slit Content Test</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-img src="assets/icon/rv.png" class="img3"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Qc Report No </strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{qcreportno}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label> <strong>Name of the Cluster	</strong>  </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{clusterName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Name of the District	</strong> </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{districtName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Name of the Agency/Contractor	</strong> </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{agencyName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Name of the Scheme	</strong> </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{schemeName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Agreement Number	</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{agrementNo}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label><strong>Value of the contract	</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{valOfContract}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-item class="input">
            <ion-label>Date of Testing</ion-label>
            <ion-input value="{{ date | date: 'dd-MM-yyyy' }}" id="date" >
            </ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Stage of work</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="stageOfwork"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Type Of Material		</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="typeOfMaterial"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;">
              <strong>Determination No</strong>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>1</strong>
            </ion-label>
          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>2</strong>
            </ion-label>
          </ion-item>

        </ion-col>

      </ion-row>



      <ion-row>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;">
              Total Volume of sample(v1) ml	 </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
          <ion-input type="number" [(ngModel)]="sample1"  (ionChange)="testListioner()"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
          <ion-input type="number" [(ngModel)]="sample2" (ionChange)="testListioner()"></ion-input>
          </ion-item>

        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;">
              volume slit after 3hr(v2) ml		 </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
          <ion-input type="number" [(ngModel)]="sample11" (ionChange)="testListioner()"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
          <ion-input type="number" [(ngModel)]="sample22" (ionChange)="testListioner()"></ion-input>
          </ion-item>

        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col size="4">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;">Percentage of slit & clay volume			 </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
            <ion-label>{{per1}}</ion-label>

          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-item class="input">
            <ion-label>{{per2}}</ion-label>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong> Average of the test Results	</strong>		 </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{avg}}</ion-label>

          </ion-item>

        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="padding">
            <ion-label>Note: Silt Content : Less Than 3%	</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="padding">
            <ion-label><strong >Remarks </strong></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="input">
            <ion-label>{{remarks}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;">Note: Testing Procedure to be reffered from IS 2386 part 1 to 8 1963 and the limits are recommended from IS 383- 2016</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>  Photograph1:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="4">



          <img id="multiple" #previewimage>




        </ion-col>

        <ion-col size="2">

          <ion-button title="camera" (click)="locationcheck()">
            <ion-icon  name="camera" ></ion-icon>
            </ion-button>
        </ion-col>


      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>  Photograph2:</strong></ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="4">



          <img id="multiple2" #previewimage2>




        </ion-col>

        <ion-col size="1">

          <ion-button title="camera" (click)="locationcheck2()">
            <ion-icon  name="camera" ></ion-icon>
            </ion-button>
        </ion-col>


      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Employee Signature:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear1()"></ion-icon>

        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12" class="padding">
          <div>
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
         </div>

        </ion-col>
      </ion-row>




      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Contractor Name:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" [(ngModel)]="contractorName" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Contractor Signature:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear2()"></ion-icon>

        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12" class="padding">
          <div>
            <canvas #canvas1 (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
         </div>

        </ion-col>

      </ion-row>


      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>UPJN Name:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" [(ngModel)]="upjnName" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>UPJN Signature:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear3()"></ion-icon>

        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="padding">
            <div>
              <canvas #canvas2 (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
           </div>

          </ion-col>



        </ion-row>


        <ion-row>
          <ion-col size="6">
            <ion-button style="text-transform: none;" (click)="submit()" expand="block" >Submit            </ion-button>
          </ion-col>

<ion-col size="6">
  <ion-button style="text-transform: none;" (click)="cancel()" expand="block" >Cancel            </ion-button>
</ion-col>
</ion-row>

    </ion-grid>
  </ion-list>

</ion-content>
