canvas {
  display: block;
  border: 2px solid #3880ff;
  background-color: rgb(245, 241, 237)
}


.label{
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;


}
.padding{
    margin: 5px;
  --border-width: 0;
  --inner-border-width: 0;
}
.padding1{

  --border-width: 0;
--inner-border-width: 0;
}
.input{
  margin: 5px;
  border: 2px solid;
  border-radius: 4px;

  border-color:  #3880ff;
  --border-width: 0;
  --inner-border-width: 0;


}
.card {
  border: 3px solid #0093d2
}
.img2{
  width: 50% !important;
  height: 50% !important;
 }
.button{
    margin: 5px;
}
.required-asterisk{
  color: red;
  font-weight: bold;
  margin-left: 3px;
  font-size: 1.2em;
}

