<ion-app>
  <ion-header >
    <ion-toolbar color="primary">

      <ion-title color="light" >{{empName}}</ion-title>

      <ion-buttons slot="end" (click)="logOut()">
        <ion-icon slot="end" name="exit"></ion-icon>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-text color="primary">
        <h3 align="center">TPI UP SWSM - JJM Project</h3>
      </ion-text>

  <ion-grid fixed>

    <!-- <ion-row>

      <ion-col size="6">
        <ion-card color="primary"  (click)="moveTodetails()">
          <ion-card-header >
            <ion-card-title>My Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>
            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>





          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="primary"  (click)="moveToattendance()">
          <ion-card-header >
            <ion-card-title>Attendance</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>
            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>





          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
     -->
    <ion-row>

      <ion-col size="12">
        <ion-card color="primary"  (click)="movetoReports()">
          <ion-card-header >
            <ion-card-title>Test Reports</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>
            <ion-item color="primary" class="padding">
              <ion-label></ion-label>
            </ion-item>





          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

</ion-grid>

</ion-content>
</ion-app>
